:root {
    font-family: 'Poppins';
    /* Colores */
    --background: #ececec;
    --surface: #ececec;
    --accent: #d31d1d;
    --primary: #9c1414;
    --secondary: #d61818;
    --fontColor: #404040;
    --hover: black;
     
    /* Dimensions */
    --width: 1200px;
    --wArticle: 180px;
    --hInfo: 80px;
    --wInfo: var(--wArticle);
    --hArticle: calc(var(--wArticle) + var(--hInfo));

    /* Efectos */
    --shadow: 0px 0px 2px 3px #00000020;
    --border: solid 1px;
    --corner:11px;

    /* Transiciones */
    --transition: linear 0.1s;

}