:root {
    font-family: 'Poppins';

    /* Colores */
    --background: #ececec;
    --surface: white;
    --accent: #d31d1d;
    --translucent: #0288d150;
    --primary: #9c1414;
    --secondary: #d61818;
    --btn_color: white;
    --fontColor: #404040;
    --hover: black;
     
    /* Dimensions */
    --width: 1200px;
    --wArticle: 180px;
    --hInfo: 60px;
    --wInfo: var(--wArticle);
    --hArticle: calc(var(--wArticle) + var(--hInfo));
    --gap: 40px;
    --btn: 45px;
    --payments: 60px;

    /* Efectos */
    --shadow: 0px 0px 10px -3px #00000040;
    --border: solid 1px #00000020;
    --corner: 11px;

    /* Transiciones */
    --transition: linear 0.05s;

}

::-webkit-scrollbar {
    --thumb: 8px;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: var(--corner);  
    width: var(--thumb);
}

::-webkit-scrollbar:vertical {
    width:var(--thumb);
}

::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

::-webkit-scrollbar:horizontal {
    height: var(--thumb);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(188, 213, 236);
    background-clip: padding-box;        
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: var(--corner);
}
    
