table {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    border: none;
}


/* Banner */

.banner {
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner .advertisings {
    width: var(--width);
    --height: calc(var(--width) / 2.83);
    height: var(--height);
    background-color: royalblue;
    border-radius: var(--corner);
    box-shadow: var(--shadow);
    overflow: clip;
}

.advertisings img {
    height: var(--height);
    width: 100%;
    object-fit: contain;
}

.banner .btn {
    position: absolute;
    opacity: 0%;
    transition: var(--transition);
}

.banner .btn[value="arrow_forward_ios"] {
    right: var(--gap);
}

.banner .btn[value="arrow_back_ios"] {
    left: var(--gap);
}

/* Formas de pago */

.payment {
    background-color: var(--surface);
    border-radius: var(--corner);
    box-shadow: var(--shadow);
    flex-direction: row;
}

.payment span, .payment p, .payment a, .payment caption{
    color: var(--fontColor);
}

.payment p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment span {
    font-size: var(--payments);
}



/* Marcas */

.vendors {
    --icons: 8;
    width: var(--width);
}

.vendors caption {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: var(--width);
    margin-bottom: 1rem;
}

.vendors tr {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.vendors tr td:last-child { margin-right: 0px; }

.vendors td {
    width: calc((var(--width) / var(--icons)) - var(--gap));
    height: calc((var(--width) / var(--icons)) - var(--gap));
    background-color: var(--surface);
    border-radius: var(--corner);
    box-shadow: var(--shadow);
    margin-inline-end: calc(var(--gap) / (var(--icons) - 1) * var(--icons));
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vendors a {
    text-decoration: none;
    color: var(--fontColor);
    opacity: 0%;
    height: 0px;

    transition: var(--transition);
}

.vendors td img {
    object-fit: cover;
    width: calc((var(--width) / var(--icons)) - var(--gap) - 2rem);
    height: auto;
    filter: contrast(0);
    transition: var(--transition);
}


/* Articles */
.articles {
    --articles: 6;
}

.articles table td { padding: 0px; }

.articles table tr {
    display: grid;
    width: var(--width);
    grid-template-columns: calc( 100% - ( var(--btn) * 4 ) ) repeat( 2 , calc( var(--btn) * 2 ) );
    margin-bottom: 1rem;
}

.articles table tr td:nth-child(3), .articles table tr td:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(var(--articles), calc(var(--width) / var(--articles)));

    height: auto;
    justify-items: center;
    align-items: center;
    overflow: clip;
}

/* Categorias */

.categories {
    --icons: 8;
    width: var(--width);
    position: relative;
    overflow: clip;
    border: none;
    border-radius: var(--corner);
}

.categories caption { display: flex; }

.categories tbody {
    background-color: var(--surface);
    border-radius: var(--corner);
    overflow: clip;
}

.categories tr {
    display: grid;
    grid-template-columns: repeat(var(--icons), calc(var(--width) / var(--icons) ));
    grid-template-rows: calc(var(--width) / var(--icons) );
    padding: 0px;
}

.categories .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: var(--border);
    border-right: var(--border);

    transition: var(--transition);
}

.categories tbody tr:nth-child(2) { border-bottom: none; }
.categories tbody tr td:last-child { border-right: none; }


.categories .category img {
    height: var(--height);
    width: 60%;
    object-fit: contain;
}

.category a {
    text-decoration: none;
    color: var(--fontColor);
}

/* Interesting */

.interesting tr {
    --size: 290px;
    display: flex;
    background-color: var(--surface);
    width: var(--width);
    border-radius: var(--corner);
    overflow: clip;
    position: relative;
}

.interesting  { 
    --articles: 4;
    display: inline-table; 

}

.interesting caption { display: flex; }

.interesting tr td {
    display: grid;
    grid-template-columns: repeat(var(--articles), min-content);
    column-gap: 10px;
    height: auto;
    align-items: center;
    width: calc(100% - var(--size));
    justify-content: end;
    padding-inline: 20px;
}

.interesting td[colspan="2"] {
    background-color: aliceblue;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-align: center;
    z-index: 1;
}

.interesting tr td a {
    color: var(--fontColor);
    text-decoration: none;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.interesting tr td p { margin: 0px; }
.interesting tr td img {
    height: 50%;
    margin: 0px;
    z-index: 1;
}
.interesting tr td:nth-child(2) {
    background-color: #FFFF0050;
}

/* Muestras Aleatorias */

.randomView { display: inline-table; }
.randomView tr {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.5rem));
    column-gap: 1rem;
}

.randomView tr td {
    height: 280px;
    background-color: var(--surface);
    border-radius: var(--corner);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: clip;
    padding: 0px;
    position: relative;
    z-index: 1;
}

.randomView tr img {
    width: 280px;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
.randomView tr span img { 
    position: absolute;
    right: 0;
    object-fit: cover;
    width: 100%;
    z-index: 0;
    filter: blur(200px) saturate(3);
}

.randomView tr span {
    height: 280px;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.randomView tr h2 {
    font-size: 2rem;
    margin: 0px;
    margin-bottom: 0.5rem;
}

.randomView tr a {
    text-decoration: none;
    color: var(--fontColor);
}