header, footer {
    width: 100%;
    height: auto;

    background-color: var(--background);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.announcement {
    background-color: var(--accent);
    width: 100%;
    height: 20px;
}

nav {
    --height: 60px;
    width: var(--width);
    height: var(--height);

    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: 15% 40% 45%;
}

nav div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .presentation img{
    width: 80%;
}
nav .options {
    --height: 35px;
    list-style: none;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--height);
}

nav .options li[class="material-symbols-rounded"] { 
    margin-inline: 0px;
    padding: 0px;
    height: var(--height);
    width: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

nav .options li { 
    margin-inline-end: 20px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .options a {
    text-decoration: none;
    color: var(--fontColor);
    transition: var(--transition);
    text-align: center;
}

nav .barOptions {
    display: flex;
    border: none;    
    outline: none;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
}

nav .searcher {
    width: 100%;
    height: 35px;
    border-radius: var(--corner);
    overflow: clip;

    display: flex;
    flex-direction: row;
}
nav .searcher input {
    height: 100%;
    border: none;
    outline: 0px;
    padding: 0px;
    margin: 0px;
}
nav .searcher input[type="text"] {
    width: calc(100% - 60px);
    padding-inline: 10px;
}

nav .searcher input[type="button"] {
    width: 60px;
    background-color: white;
    border-left: solid 1px #0000000a;
}

.shortcuts {
    height: auto;
    padding: 10px;
    width: var(--width);

    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;

    grid-template-columns: repeat(8, calc(90% / 8));
}

.shortcuts a {
    text-decoration: none;
    color: var(--fontColor);
    transition: var(--transition);
}


/* Footer */

footer {
    height: auto;   
}

footer .outstanding {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    display: flex;
    justify-content: left;
    width: var(--width);
}

footer .outstanding a {
    text-decoration: none;
    font-size: small;
    color: var(--fontColor);
    margin-inline: 1rem;
}

footer .informative {
    width: var(--width);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 2rem;
    padding: 1rem;
    position: relative;
}

footer .informative div {
    margin-inline: 1rem;
}

footer .informative h5 {
    margin-inline: 0px;
    margin-bottom: 0.5rem;
    margin-top: 0px;
}

footer .informative ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

footer .informative ul * {
    text-decoration: none;
    color: var(--fontColor);
    margin-block: 0.2rem;
    margin-left: 0.2em;
    font-size: small;
}

footer .informative table td {
    padding-inline-end: 10px;
    padding-block-end: 5px;
    vertical-align: top;
}
footer .informative table td a {
    margin: 0px;
    text-decoration: none;
    color: var(--fontColor);
    font-size: small;
}

footer .informative table h3 {
    margin: 0px;
}