nav .searcher input[type="button"] {
    transition: var(--transition);
}

nav .searcher input[type="button"]:hover {
    background-color: var(--accent);
    color: white;
    cursor: pointer;
}

nav .searcher input[type="button"]:active {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

nav .options li { 
    transition: var(--transition);
}

nav .options li[class="material-symbols-rounded"]:hover {
    background-color: var(--accent);
    border-radius: 100%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    filter: contrast(1);
}

nav .options li:hover a{
    color: var(--accent);
    cursor: pointer;
}

nav .options li[class="material-symbols-rounded"]:hover a { color: white; }
header nav .barOptions:active { 
    scale: 1;
}
.shortcuts a:hover { 
    color: var(--accent); 
    text-decoration: underline;
}

/* Botones */

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.btn:active {
    transform: scale(0.9);
    filter: contrast(0.92);
}



/* Banner */

.banner:hover { cursor: pointer; }
.banner:hover .btn { opacity: 100%; }

/* Producto */

.product:hover { cursor: pointer; }

.product:hover .prod_description{
    height: calc(var(--hInfo) + (var(--hInfo) / 2));
    border-radius: var(--corner);
    grid-template-rows: repeat(3, min-content);
}

.product:hover .prod_description a {
    opacity: 100%;
}

.product:hover .prod_options .btn { box-shadow: var(--shadow); }
.product:hover .prod_options{ bottom: calc((var(--hInfo) + (var(--hInfo) / 2)) - (var(--btn) / 2 )); }
.product:hover .prod_options input[value="favorite"] { right: calc(var(--btn) + (var(--margin) * 2)); }
.product:hover .prod_options input[value="share"] { right: calc((var(--btn) * 2) + (var(--margin) * 3)); }


/* Categorias */


.grid_8 td:hover { cursor: pointer; background-color: var(--translucent);}
.grid_8 td:hover img { transform: scale(1.05); }
.grid_8 td:active img { transform: scale(1); }

.vendor:hover a { height: auto; opacity: 100%; }
.vendor:hover img { filter: none; }





/* RandomView */

.randomView td:hover { cursor: pointer; }

.randomView td:hover img { filter: grayscale(1); }



/* Footer */

footer a:hover, footer .informative li a:hover {
    color: var(--accent);
}